<h2>New Post</h2>

<%= form_for @post, :url => { :action => "create" } do |f| %>
	<%= label_tag :title, "Title" %>
	<%= f.text_field :title %>
	<%= label_tag :description, "Description" %>
	<%= f.text_area :content %>
	<%= f.submit "Submit" %>
<% end %>