<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<p>Created: <%= @post.created_at %>></p>

<%= link_to "Edit", edit_post_path %>

<%= link_to "Delete", @post, :confirm => "You sure holmes?", :method => :delete %>
